body{
    margin: 0 auto;
    padding: 0px;
    font-family: monospace;
    scroll-behavior: smooth;
    max-width: 100%;
    background-color: #000;
    background-image: url(/img/background_noisy.webp);
    overflow-x: hidden;
}
section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 400px;
    font-size: xx-large;
    color: white;
}
.containter{
    background-color: white;
    width: 1000px;
    height: 800px;
    margin-top: 15px;
    margin-bottom: 100px;
}
.head{
    border-bottom: 4px black solid;
    top: 100px;
    color: black;
    text-align: center;
}
.scrolly{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background-color: gray;
    background-image: url(/img/background_noisy.webp);
}
.chatmsg{
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    color: black;
    word-wrap: break-word;
    border-right: #000 4px solid;
}
.chatmsg:hover{
    background-color: #4b4b4b;
}
.pfp{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: #000 2px solid; 
}
