body{
    margin: 0 auto;
    padding: 0px;
    font-family: monospace;
    scroll-behavior: smooth;
    max-width: 100%;
    background-color: black;
    position: fixed; 
    top: 0; 
    width:100%;
    touch-action: pan-y;
}
section{
    display: grid;
    font-size: xx-large;
}

header{
    padding: 20px 0;
    width: 100%;
    background-color: black;
    text-align: center;
    z-index: 10000000000;
    color: white;
    border-bottom: 3px gray solid;
    display: flex;
    padding-left: 10px;
}
.hidden{
    background-color: gray !important;
}

.line{
    background-color: gray;
    height: 20px;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    left: 750px;
    top: 200px;
    z-index: -2;
}
.pfp{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-image: url(download.png);
    background-position: center;
    left: 650px;
    top: 145px;
    position: absolute;
    z-index: 6;
}
.pfpwar1{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: green;
    z-index: 1;
    left: 95px;
    top: 75px;
    position: absolute;
}
.pfpwar2{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: yellowgreen;
    z-index: 2;
    left: 95px;
    top: 75px;
    position: relative;
}
.pfpwar3{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: yellow;
    z-index: 2;
    left: 95px;
    top: 75px;
    position: relative;
}
.pfpwar4{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(255, 145, 0);
    z-index: 2;
    left: 95px;
    top: 75px;
    position: relative;
}
.pfpwar5{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
    z-index: 2;
    left: 95px;
    top: 75px;
    position: relative;
}
.linepoints{
    background-color: green;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 80px;
    top: -25px;
    align-items: center;
}
.linepoints1{
    background-color: yellowgreen;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top: -93px;
    
}
.linepoints2{
    background-color: yellow;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 320px;
    top: -163px;
}
.linepoints3{
    background-color: rgb(255, 145, 0);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 440px;
    top: -233px;
}
.linepoints4{
    background-color: red ;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 560px;
    top: -303px;
}
.linepoints img,
.linepoints1 img,
.linepoints2 img,
.linepoints3 img,
.linepoints4 img {
    display: block;
    margin:  auto;
}
.linepoints:hover{
    transform: scale(1.2);
}
.linepoints1:hover{
    transform: scale(1.2);
}
.linepoints2:hover{
    transform: scale(1.2);
}
.linepoints3:hover{
    transform: scale(1.2);
}
.linepoints4:hover{
    transform: scale(1.2);
}
.line1{
    background-color: green;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    top: -350px;
    z-index: -1;
}
.line2{
    background-color: yellowgreen;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 100px;
    top: -370px;
    z-index: -1;
}
.line3{
    background-color: yellow;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 210px;
    top: -390px;
    z-index: -1;
}
.line4{
    background-color: rgb(255, 145, 0);
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 330px;
    top: -410px;
    z-index: -1;
}
.line5{
    background-color: red;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 460px;
    top: -430px;
    z-index: -1;
}
.aboutitc{
    height: 300px;
    width: 800px;
    background-color: rgb(85, 85, 85);
    position: relative;
    right: -600px;
    top: 250px;
    z-index: 4;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.aboutith{
    height: 80px;
    width: 800px;
    background-color: rgb(85, 85, 85);
    position: relative;
    z-index: 4;
    font-size: large;
    color: white;
    text-align: left;
    border-bottom: rgb(255, 255, 255) 3px solid;
    padding-left: 20px;
    padding-bottom: -100px;
    float: left;
}
.actions{
    border-bottom: black 4px solid;
    height: auto;
    width: 100%;
    color: white;
    font-size: x-large;
    text-align: center;
}
.input-container{
    position: relative;
    display: flex;
    top: 200px;
    left: 2.5%;
}
/* width */
.aboutitc::-webkit-scrollbar {
    width: 5px;
    margin-right: 2px;
  }
  
  /* Track */
.aboutitc::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5px;
  }
  
  /* Handle */
.aboutitc::-webkit-scrollbar-thumb {
    background: rgb(29, 29, 29);
    border-end-start-radius: 5px;
  }
  
  /* Handle on hover */
.aboutitc::-webkit-scrollbar-thumb:hover {
    background: #555;
  }