

@import url(https://db.onlinewebfonts.com/c/58045dabdc3a361cb9bb9faf2f1dd1f3?family=Digital-7+V7);

.digital-font {
    font-family: "Digital-7 V7", sans-serif;
}

#clock, #date, #datee, #btn {
    text-align: center;
    border: 2px solid black;
    border-bottom: 0;
    position: relative;
    font-size-adjust: inherit;
    padding: 10px;
}

#date{
    border-top: none;
}

#datee{
    border: 2px solid black;
}
#btn{
    border: 2px solid black;
}

#clock {
    font-size: 100px;
    width: 50%;
    height: 100px; /* Set a fixed height or adjust as needed */
    margin-left: 25%;
    margin-top: 10%;
    border-bottom: none;
    color: black;
    background: linear-gradient(to right, #87CEFA, #ADD8E6, #F0E68C);
    align-items: center; /* Center vertically */
    text-align: center;
}


#date, #datee, #btn {
    font-size: 50px;
    width: 50%;
    margin-left: 25%;
}

#date {
    background-color: blue;
    color: turquoise;
}

#datee, #btn {
    background-color: blue;
    color: turquoise;
}

#btn {
    margin-left: 1%;
    border-top: none;
    width: auto
}

#btn:hover {
    background-color: #00ffff;
    color: #0000ff;
    border-color: #e5ff00;
}

#btn:active {
    background-color: #e5ff00;
    color: #0000ff;
    border-color: #00ffff;
}

body {
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #6b6b6b, #6b6464);
}
@media screen and (max-width: 600px) {
    #clock{
        font-size: 50px;
        align-items: center;
        text-align: center;
    }
}