            body {
                font-family: Arial, sans-serif;
                align-items: center;
                background-color: black;
                color: white;
            }
            h1 {
                text-align: center;
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }
            section{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
            }
            label {
                margin-bottom: 10px;
            }
            input[type="text"],
            input[type="number"] {
                margin-bottom: 20px;
                padding: 5px;
                border-radius: 5px;
                border: none;
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            }
            button {
                padding: 10px;
                border-radius: 5px;
                border: none;
                background-color: #4CAF50;
                color: white;
                font-weight: bold;
                cursor: pointer;
                align-items: center;
                margin: 0 auto;
                display: flex;
            }
            button:hover {
                background-color: #3e8e41;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                max-width: 1000px;
                align-items: center;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            th, td {
                text-align: left;
                padding: 8px;
            }
            th {
                background-color: #4CAF50;
                color: white;
                margin-bottom: 10px;
            }
            tr:nth-child(even) {
                background-color: gray;
                margin-bottom: 10px;
            }
            #total {
                font-weight: bold;
                margin: 0 auto;
                align-items: center;
            }
            .total{
                border: 3px solid white;
                margin-top: 100px;
                position: relative;
                padding: 2px;
            }
            .itemSelection {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            
            .select {
                width: 30%;
                height: auto;
                padding: 10px;
                background-color: transparent;
                border: 3px solid #0069d9;
                margin: 10px;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
            }
            .top{
                margin-bottom: 3px solid #0069d9;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
